form {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  label,input {
    display: inline-block;
  }
  
  label {
    width: 17%;
    text-align: left;
  }
  body
  {
    background: url("images/hackthebox.jpg") no-repeat top fixed;
    background-size: cover;
  }

  #submit
  {
      margin-left: 20px;
  }