<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobs/style.css' %}">
    <title>index</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {% for message in messages %}
            <h5 style="color:red">{{message}}</h5>
            {% endfor %}
            <label for="p_name">Position Name</label>
            <input type="text" name="position_name" id="p_name"><br><br>
            <label for="description">Description</label>
            <input type="text" name="description" id="description"><br><br>
            <label for="min_age">Minimum Age</label>
            <input type="number" name="min_age" id="min_age"><br><br>
            <label for="max_age">Maximum Age</label>
            <input type="number" name="max_age" id="max_age"><br><br>
            <label for="salary">Salary</label>
            <input type="number" name="salary" id="salary"><br><br>
            <label for="num_of_opening">Number Of Openings</label>
            <input type="number" name="num_of_opening" id="num_of_opening"><br><br>
            <label for="username">creator username</label>
            <input type="text" name="username" id="username"><br><br>
            <label for="password">creator password</label>
            <input type="password" name="password" id="password"><br><br><br><br>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
</body>
</html>